
<script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-gutter">
      <div class="now-playing">
        <label><h4>Now Playing</h4></label>
        <div id="now_playing">
          <div class="clearfix">
            <div class="song title"><b><%= @current_spin.audio_block.title %></b></div>
          </div>
          <div class="song artist"><%= @current_spin.audio_block.artist %></div>
          <div class="progress progress-striped">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
              <span class="sr-only"></span>
            </div>
          </div>

          <div id="songTimes">
            <div id="elapsed_time"></div>
            <div id="time_remaining"></div>
          </div>
        </div>

      </div>


      <div class="current-playlist">
        <ul id="songlist" >
          <% @playlist.each do |spin| %>
            <% if spin.audio_block.is_a?(PL::CommercialBlock) %>
              <li data-duration="<%= (current_station.seconds_of_commercial_per_hour/2) * 1000 %>"class="scheduled_play commercial_block">
                <b>Commercial Block</b></li>
            <% else %>
              <li data-id="<%= spin.current_position %>" class="scheduled_play song">
                <div class="clearfix">
                  <div class="song title"><b><%= spin.audio_block.title %></b></div>
                  <div class="song estimated_air_time"><%= time_formatter(spin.estimated_air_time) %></div>
                </div>

                <div class="song artist"><%= spin.audio_block.artist %></div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>   <!-- End Songlist/NowPlaying Container -->


    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-gutter">
      <%= render 'station/dj_song_search_sound_effects' %>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-gutter">
      <h4>CHAT SECTION</h4>
      <div class="chat-wrapper">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-gutter">
      TIME LINE SECTION
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-gutter request-line">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 request-light">
          request top row 1
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 request-light">
          request top row 2
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 request-light">
          request top row 3
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 request-light">
          request bottom row 1
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 request-light">
          request bottom row 2
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 request-light">
          request bottom row 3
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    // store the playlist as an array of jsons for js use
    var playlist = [];
    <% @playlist.each do |spin| %>
      playlist.push(<%= raw spin.to_json %>);
    <% end %>

    var currentSpin = <%= raw @current_spin.to_json %>;
    currentSpin["played_at"] = new Date(<%= @current_spin.played_at.to_i * 1000 %>);
  </script>
<% end %>
