
<h2>Upload a new song:</h2>
<%= form_tag 'songs/create', :method => "post", :hidden => true, :multipart => true do %>
    <%= file_field_tag "mp3file" %>
    <%= submit_tag "Upload" %>
<% end %>



<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 no-gutter">
      <div class="heavy rotation song-table">
        <ul class="rotation" id="heavy">
        </ul>
      </div>
      <div class="medium rotation song-table">
        <ul class="rotation" id="medium">
        </ul>
      </div>
      <div class="light rotation song-table">
        <ul class="rotation" id="light">
        </ul>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 no-gutter" id="draganddrophandler">

      Search: <input id="searchText">
      <div class="all-songs song-table" >

        <ul id="songlist">
          <% @songs.each do |song| %>
            <li data-searchString="<%= song.title + ' ' + song.artist %>" data-id="<%= song.id %>" class="playlist-song">
            <div class="clearfix">
              <div class="title"><b><%= song.title %></b></div>
              <div class="artist"><%= song.artist %></div>
            </div>
          </li>
          <% end %>
        </ul>


      </div>
      <div id="status"></div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-gutter"?
      <form style="display: inline">
          Add a Song to Our Library: <input type="file" id="file">
          <input type="submit" id="songUpload" disabled="true">Upload</input>
          <p id="songMessage"></p>
      </form>
    </div>
  </div>
</div>
